{% extends 'layout.html' %}

{% block body %}
<body>
  <div class="container" style="margin-top:10px">
    {% if message %}
    <p class="message">{{message | safe}}</p>
    {% endif %}
    <div class="row">
      <div class="col-sm-4" style="background-color:gainsboro;">
        <h3>Nhập thông tin giáo viên</h3><br><br>
        <form action="/teachers" method="POST">
          <div class="form-group">
            {% include 'includes/_selectpicker.html' %}
            <label for="teacher">Tên giáo viên:</label><br>
            <input type="text" class="form-control" name="teacher" id="teacher", placeholder="Tên giáo viên"><br>
            <label for="tgender">Giới tính:</label>
            <select name="teacher_gender" id="tgender" class="form-control">
              <option value=" " selected>Chọn...</option>
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
              <option value="Khác">Khác</option>
            </select><br>
            <label>Lớp:</label><br>
            <select name='teacher_classes' class="selectpicker form-control" multiple data-live-search="true">
              {% for class in lst_classes %}
              <option name="class_" value="{{ class }}">{{ class }}</option>
              {% endfor %}
            </select><br><br>

            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

{% endblock %}