<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">-->
    <title>School Information</title>
</head>
<body>
    <div class="container">
<!--        <form action="/student" method="post">-->
<!--            <button type="submit" class="btn btn-primary">Tra cứu học sinh</button>-->
<!--        </form>-->
        <img src="../static/FPT_Software_Logo.png" alt="FPTSoft" class="logo" />
        <h2>Tra cứu thông tin lớp học, học sinh và môn học</h2>
        <form>
            <input type="button" onclick="window.location.href='/subject'" value="Tra cứu thông tin học sinh">
            <input type="button" onclick="window.location.href='/subject'" value="Tra cứu thông tin lớp học">
            <input type="button" onclick="window.location.href='/subject'" value="Tra cứu thông tin môn học">
        </form>

    </div>
</body>
</html>

